@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lexend+Deca&display=swap');

/* Cabeçalho */

body {
    position: relative;
    width: 1920;
    height: 1080;
    background-color: #F3F5F7;
}
.cabeçalho {
    width: 1920;
    height: 250px;
    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
    padding-left: 250px;
    padding-right: 250px;
}

.titulo {
    display: flex;
    justify-content: space-between;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    padding-top: 41px;
    padding-bottom: 73px;
}
.buscar img {
    position: absolute;
    margin: 20px;

}
.buscar-ipt {
    width: 500px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 21px 682px 22px 64px;;
}
.buscar {
    text-align: center;
}

/* Main */

.main-blogs {
    display: grid;
    justify-content: center;
}

/* Main blog 1 */
.blog1 {
    width: 1246px;
    height: 195px;
    margin-top: 100px;
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
    font-family: 'Lexend Deca', sans-serif;
}
.blog1 h1 {
    font-size: 26px;
    line-height: 32px;
    margin-left: 24px;
    margin-bottom: 8px;
}
.blog1 p {
    color: #717171;
    font-size: 18px;
    line-height: 32px;
    margin-left: 24px;
}
.blog1-header {
    display: flex;
    justify-content: space-between;
    margin: 23px 24px 22px 24px;
    color: #717171;
}
.blog1-header h2 {
    font-size: 16px;
    line-height: 20px;
    color: #1A202C;
}

/* Main blog 2 */
.blog2 {
    width: 1246px;
    height: 259px;
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
    font-family: 'Lexend Deca', sans-serif;
}
.blog2 h1 {
    font-size: 26px;
    line-height: 32px;
    margin-left: 24px;
    margin-bottom: 8px;
}
.blog2 p {
    color: #717171;
    font-size: 18px;
    line-height: 32px;
    margin-left: 24px;
}
.blog2-header {
    display: flex;
    justify-content: space-between;
    margin: 23px 24px 22px 24px;
    color: #717171;
}
.blog2-header h2 {
    font-size: 16px;
    line-height: 20px;
    color: #1A202C;
}